@model NetSolutionWeb.Models.Quote

@{
    ViewData["Title"] = "ContactUs";
}

<div class="row">
    <div class="col-md-9">
        <h1 class="myfont">Contact US</h1>
        <p>Have a web or mobile app project in mind? Let’s discuss making your project a reality.</p>
        <form asp-action="ContactUs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteText" class="control-label">Message</label>
                <textarea asp-for="QuoteText" class="form-control"></textarea>
                <span asp-validation-for="QuoteText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Contact me" class="btn btn-danger" />
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <h1 class="myfont">Hate Filling out Forms?</h1>
        <p>Email us.</p>
        <br />
        <br />
        <h2 class="myfont">Request a Quote</h2>
        <p>sales@netsolutions.com</p>
        <br />
        <br />
        <h2 class="myfont">
            Careers</h2>
        <p>careers@netsolutions.com</p>
            <br />
            <br />
            <h2 class="myfont">
                Other Inquries</h2>
                <p>info@netsolutions.com</p>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
