
<div class="text-center">
    <h1 class="display-4 myfont">Join the Tribe</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h1 class="myfont">Thanks for showing your interest with our organization. We contact you soon after evaluating your request.</h1>
    </div>
</div>