@model NetSolutionWeb.Models.Testimonial

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="display-4 myfont">Edit Testimonial</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TestimonialID" />
            <div class="form-group">
                <label asp-for="PersonName" class="control-label"></label>
                <input asp-for="PersonName" class="form-control" />
                <span asp-validation-for="PersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestimonialText" class="control-label"></label>
                <textarea asp-for="TestimonialText" class="form-control"></textarea>
                <span asp-validation-for="TestimonialText" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save Testimonial" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
